.container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}
.main_content {
  display: flex;
  align-items: center;
}
.main_content > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}
.logo {
  margin-right: 8px;
  font-size: 0px;
}
.search {
  opacity: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}
.search > input {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  background-color: #eef3f8;
  color: rgba(0, 0, 0, 0.9);
  width: 218px;
  font-weight: 400;
  font-size: 14px;
  border-color: #dce6f1;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .nav {
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
    width: 100%;
  }
}
