@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_layout {
  display: flex;
  margin: 35px 20px 0 20px;
  max-width: 1200px;
}
.app_layout_wrapper {
  background-color: #f3f2ef;
}
